button { transition: all 250ms ease-in-out; }

.btn-icon {
  width: 36px;
  height: 36px;
  text-align: center;
}

.btn-text { padding: 16px 32px; }

.btn-primary {
  background: var(--clr-black-base);
  color: var(--clr-white-base);
}

.btn-transparent {
  background: transparent;
  color: var(--clr-white-base);
}

.btn-transparent:hover { background: var(--clr-overlay); }

.btn-primary:hover { background: var(--clr-black-hover); }

.btn-secondary {
  background: var(--clr-white-base);
  color: var(--clr-black-base);
}

.btn-secondary:hover { background: var(--clr-white-hover); }

.btn-outline-black { border: 2px solid var(--clr-black-base); }

.btn-outline-white { border: 2px solid var(--clr-white-base); }